

.middle{
  margin: auto;
  width: 80%;
  text-align: center;
}

.middle h1{
background-color: rgb(246, 235, 208);
color: rgb(41, 133, 133);
border: 10px dotted rgb(235, 218, 180);
border-radius: 50%;
padding: 20px;
}

.middle h1 p{
  opacity: 3%;
  font-size: 300%;
}

.middle h1:hover{
  background-image: url(../../img/gg.jpeg);
}

.middle h1 p:hover{
  opacity: 100%;
}